{%- block widget_attributes -%}
    {%- set attr = attr|merge({'class': 'form-control form-control-sm col col-8 col-md-8 col-lg-8'}) -%}

    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}

{%- block form_row -%}
    <div class=" form-control form-control-sm col col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1 d-flex justify-content-between">
        {{- form_errors(form) -}}
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}




{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="alert alert-danger col col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1 p-1">
            {%- for error in errors -%}
                {{ error.message }}
            {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock form_errors -%}