{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="alert alert-danger col col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1 p-1">
            {%- for error in errors -%}
                {{ error.message }}
            {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock form_errors -%}