{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <span class="alert alert-danger mx-1 mx-sm-1 my-0 p-1">
                {{ error.message }}
            </span>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block widget_attributes -%}
    {%- set attr = attr|merge({'class':'form-control form-control-sm col col-11 col-md-2 col-lg-2 mx-auto my-1 mx-sm-auto my-sm-1'}) -%}

    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}

{%- block form_row -%}
    {{- form_errors(form) -}}
    {# I don't need render a label in this form  #}
    {#{{- form_label(form) -}}#}
    {{- form_widget(form) -}}
{%- endblock form_row -%}