{{ form_start(form,{'attr': {'novalidate': 'novalidate','class':'mt-2 mb-2'}}) }}
<div class="form-group row mx-2">
    {{ form_label(form.name,'',{'label_attr':{'class':'m-2'}}) }}
    {{ form_widget(form.name,{'attr':{'class':'form-control form-control-sm col col-6 col-md-6 col-lg-6 m-1'}}) }}
</div>
<div  class="form-group row mx-2">
    {{ form_label(form.group,'',{'label_attr':{'class':'m-2'}}) }}
    {{ form_widget(form.group,{'attr':{'class':'form-control form-control-sm col col-6 col-md-6 col-lg-6 m-1'}}) }}
</div>
<div  class="form-check mx-2">
    {{ form_widget(form.planning,{'attr':{'class':'form-check-input my-1 mx-2'}}) }}
    {{ form_label(form.planning,'Planning',{'label_attr':{'class':'form-check-label mx-2'}}) }}
</div>
<button type="submit" class="btn btn-success btn-sm mx-3">Create</button>

{{ form_end(form) }}
