{% extends 'base.html.twig' %}
{% form_theme form 'form/edit_fields.html.twig' %}

{% block body %}

    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="card bg-light mb-3 card_home">
            <div class="card-header d-flex justify-content-between">
                <h5 class="m-0">Edit account</h5>
                <a href="{{ path('homepage') }}" class="text-center  ">Home</a>
            </div>
            <div class="card-body">
                {{ form_start(form,{'attr': {'novalidate': 'novalidate','class':'form-inline mt-2 mb-2'} }) }}

                {{ form_row(form.name) }}
                {{ form_row(form.group) }}
                {{ form_row(form.planning,{'attr':{'disabled':'disabled'}}) }}

                <button type="submit"
                        class="btn btn-sm btn-block btn-success col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1">
                    Save
                </button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}