{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-100 d-flex flex-column align-items-center">
        {% set balance = 0 %}

        <div class="w-100 card card_account bg-light m-1">
            <div class="card-body">
                <div class="card-header d-flex justify-content-between m-0 padding_medium">
                    <p class="m-0 align-middle"><a href="{{ path('homepage') }}">Home</a></p>
                    <p class="m-0 align-middle">Account: {{ account.name }}
                    </p>
                    <p class="m-0 align-middle">Transactions: <span>{{ pagination.getTotalItemCount }}</span></p>

                    {% if account.planning == false %}
                        <p class="m-0 align-middle">Balance:
                            <span class="
                            {% if account.balance > 0 %}
                            text-success
                            {% else %}
                            text-danger
                            {% endif %}
                            ">
                                {{ account.balance }}
                        </span>
                        </p>
                    {% else %}
                        <p class="m-0 align-middle">
                            <span class="badge badge-info">Planning</span>
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="card-body table-responsive">
                <table class="table  table-bordered table-sm table-striped m-0">
                    <thead>
                    <tr class="">
                        <th scope="col" class="padding_small">Date</th>
                        <th scope="col" class="padding_small">Description</th>
                        <th scope="col" class="padding_small">Tags</th>
                        <th scope="col" class="padding_small">Amount</th>
                        <th scope="col" colspan="2" class="padding_small">Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in pagination %}
                        {% if transaction.type == true %}
                            {% set balance = balance + transaction.amount %}
                        {% else %}
                            {% set balance = balance - transaction.amount %}
                        {% endif %}
                        {% include'transaction/show.html.twig' with {'transaction': transaction, 'balance': balance} %}
                    {% endfor %}
                    {% include 'transaction/create.html.twig' with {'form':form} %}
                    <tr>
                        <td colspan="6"
                            class="navigation col col-lg-2 m-0 padding_small">{{ knp_pagination_render(pagination) }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}