{% extends 'base.html.twig' %}

{% block body %}

    <div class="h-100 d-flex flex-column justify-content-center align-items-center">

        <div class="card bg-light mb-3 card_home">
            <div class="card-header d-flex justify-content-between">
                <h5 class="m-0">Login</h5>
            </div>
            <div class="card-body">
                {{ form_start(form, {'action': path('login_check'),
                    'attr': {'novalidate': 'novalidate','class':'form-inline mt-2 mb-2'} }) }}

                {% if error %}
                    <div class="alert alert-danger col col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1 p-1">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_widget(form._username,
                    {'attr': {
                        'class': 'form-control form-control-sm col col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1',
                        'placeholder': 'Login'}}) }}

                {{ form_widget(form._password,
                    {'attr': {
                        'class': 'form-control form-control-sm col col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1',
                        'placeholder':'Password'}}) }}
                <button type="submit"
                        class="btn btn-sm btn-block btn-success col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1">
                    Sign In
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}