{% form_theme form 'form/fields.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-100 d-flex flex-column justify-content-center align-items-center">

    <div class="card bg-light mb-3 card_home">
        <div class="card-header d-flex justify-content-between">
            <h5 class="m-0">Create User</h5>
        </div>

        <div class="card-body">
            {{ form_start(form,{
                'attr': {'novalidate': 'novalidate','class':'form-inline mt-2 mb-2'} }) }}

            {{ form_errors(form.username) }}

            {{ form_widget(form.username,
                {'attr': {
                    'class': 'form-control form-control-sm col col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1',
                    'placeholder': 'Username'}}) }}

            {{ form_widget(form.plainPassword.first,
                {'attr': {
                    'class': 'form-control form-control-sm col col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1',
                    'placeholder':'Password'}}) }}

            {{ form_errors(form.plainPassword.first) }}

            {{ form_widget(form.plainPassword.second,
                {'attr': {
                    'class': 'form-control form-control-sm col col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1',
                    'placeholder':'Repeat password'}}) }}

            <button type="submit"
                    class="btn btn-sm btn-block btn-success col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1">
                Save
            </button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}