<div class="card bg-light mb-3 card_home">
    <div class="card-header p-2">
        <div class="m-0 d-flex justify-content-between">
            <h5 class="m-0">{{ group.title }}
            </h5>
            <span class="mr-auto">
                <a href="{{ path('edit_account_group',{'id':group.id}) }}"
                   class="mx-2 text-muted opacity_25 z_1000">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
            <h5 class="m-0 font-weight-bold
                {% if group.totalAccountGroupBalance > 0 %}
                text-success
                {% else %}
                text-danger
                {% endif %}
                ">{{ group.totalAccountGroupBalance }}
            </h5>
        </div>
    </div>

    <div class="card-body">
        <ul class="list-group list-group-flush">
            {% for account in group.accounts %}
                {% include 'includes/list_accounts.html.twig' with {'account': account} %}
            {% endfor %}
        </ul>
    </div>
</div>