{% block create_account %}
    <div class="card bg-light mb-3 card_home">
        <div class="card-body">
            <div class="card-header p-2" data-toggle="collapse" href="#create_account_block"
                 role="button">
                <div class="m-0 p-0">
                    <h6 class="m-0">Create an account</h6>
                </div>
            </div>
            <div class="m-0 p-0 collapse" id="create_account_block">
                {% include 'account/create.html.twig' with {'form': form} %}
            </div>
        </div>
    </div>
{% endblock create_account %}