{% block create_group %}
<div class="card bg-light mb-3 card_home">
    <div class="card-body">
        <div class="card-header p-2" data-toggle="collapse" href="#create_account_group_block"
             role="button">
            <h6 class="m-0">Create a group</h6>
        </div>
        <div class="m-0 p-0 collapse" id="create_account_group_block">
            {% include 'account_group/create.html.twig' with {'form': form} %}
        </div>
    </div>
</div>
{% endblock create_group %}