<li class="listItem list-group-item d-flex justify-content-between mx-1 p-1" draggable="true">
    <a href="{{ path('account_page',{'id': account.id}) }}">{{ account.name }}
    </a>
    <span class="mr-auto">
        <a href="{{ path('edit_account',{'id':account.id}) }}"
           class="mx-2 text-muted opacity_25">
            <i class="fa fa-pencil"></i>
        </a>
    </span>
    {% if account.planning == false %}
        <span class="m-0 font-weight-bold
        {% if account.balance > 0 %}
        text-success
        {% else %}
        text-danger
        {% endif %}
        ">{{ account.balance }}
    </span>
    {% else %}
        <span class="badge badge-info">Planning</span>
    {% endif %}
</li>

