@import '~bootstrap/dist/css/bootstrap.css';

.card_home {
  width: 20rem;
}

.mb_3 {
  margin-bottom: 3.3rem;
}

.font_size_small {
  font-size: 0.8em;
}

.font_100 {
  font-size: 100% !important;
}

.padding_small {
  padding: .2rem !important;
}

.padding_medium {
  padding: .4rem !important;
}

.form_transaction {
  background-color: white;
  width: 98%;
  margin: 0 1% 1rem 1%;
}

.pagination {
  margin: 0;
}

.btn_show_notes {
  background-color: transparent;
}

.cursor_pointer {
  cursor: pointer;
}

.opacity_25 {
  opacity: 0.25;
}

.z_1000 {
  z-index: 100;
}

[draggable] {

  -moz-user-select: none;

  -khtml-user-select: none;

  -webkit-user-select: none;

  user-select: none;

  /* Required to make elements draggable in old WebKit */

  -khtml-user-drag: element;

  -webkit-user-drag: element;

}