<!DOCTYPE html>
<html class="w-100 h-100 m-0">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="w-100 h-100 m-0 font_size_small">
<div class="w-100 h-100 container padding_medium">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
<script src="https://use.fontawesome.com/ca950bf4b2.js"></script>
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
