{% extends 'base.html.twig' %}

{% block body %}

    <div class="d-flex flex-column justify-content-center align-items-center">

        <div class="card bg-light mb-3 card_home">
            <div class="card-body">
                <div class="card-header p-2">
                    <p class="m-0 d-flex justify-content-between">
                            <span class="" data-toggle="collapse" href="#user_info_block"
                                  role="button">{{ app.user.username }}</span>
                        <a href="{{ path('logout') }}">Logout</a>
                    </p>
                </div>
                {% if(is_granted('ROLE_ADMIN')) %}
                    <div class="m-0 p-0 collapse" id="user_info_block">
                        <a class="btn btn-link mb-0"
                           href="{{ path('user_register') }}">Create User</a>
                        <ul class="list-group list-group-flush m-0 p-0">
                            {% for user in users %}
                                <li class="list-group-item d-flex justify-content-between mx-1 p-1">
                                    <p class="m-0 p-0">{{ user.username|lower }}
                                        <span class="mr-auto">
                                                <a href="{{ path('edit_user',{'id': user.id}) }}"
                                                   class="mx-2 text-muted opacity_25 z_1000">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </span>
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                {% endif %}
            </div>
        </div>

        {% if accounts_without_groups|length > 0 %}
            <div class="card bg-light mb-3 card_home">
                <div class="card-body">
                    <ul class="checklist list-group list-group-flush m-0 p-0">
                        {% for account in accounts_without_groups %}
                            {% include 'includes/list_accounts.html.twig' with {'account':account} %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% for group in not_empty_groups %}
            {% include 'includes/account_group_block.html.twig' with {'group': group} %}
        {% endfor %}

        {% for group in empty_groups %}
            {% include 'includes/account_group_block.html.twig' with {'group': group} %}
        {% endfor %}

        {% include 'includes/create_group_block.html.twig' with {'form': account_group_form} %}

        {% include 'includes/create_account_block.html.twig' with {'form': account_form} %}

    </div>

{% endblock %}