{{ form_start(form,{'attr': {'novalidate': 'novalidate','class':'mt-2 mb-2'}}) }}
<div class="form-group row mx-2">
    {{ form_label(form.title,'',{'label_attr':{'class':'m-2'}}) }}
    {{ form_widget(form.title,{'attr':{'class':'form-control form-control-sm col col-6 col-md-6 col-lg-6 m-1'}}) }}
</div>
<button type="submit" class="btn btn-success btn-sm mx-3">Create</button>

{{ form_end(form) }}