{% extends 'base.html.twig' %}
{% form_theme form 'form/edit_fields.html.twig' %}

{% block body %}

    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="card bg-light mb-3 card_home">
            <div class="card-header d-flex justify-content-between">
                <h5 class="m-0">Edit user</h5>
                <a href="{{ path('homepage') }}" class="text-center  ">Home</a>
            </div>
            <div class="card-body">
                {{ form_start(form,{'attr': {'novalidate': 'novalidate','class':'form-inline mt-2 mb-2'} }) }}

                {{ form_row(form._username) }}

                {{ form_row(form._password) }}

                <button type="submit"
                        class="btn btn-sm btn-block btn-success col-4 col-md-4 col-lg-4 m-auto my-1">
                    Save
                </button>
                <button type="button"
                        class="btn btn-sm btn-danger col-4 col-md-4 col-lg-4 mx-auto my-1" data-toggle="modal"
                        data-target=".bd-example-modal-sm">Delete
                </button>

                <div class="modal fade bd-example-modal-sm" id="deleteAccountGroupModal" tabindex="-1" role="dialog"
                     aria-labelledby="deleteAccountGroupModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteAccountGroupModalLabel">Are you sure?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">Close
                                </button>
                                <a href="{{ path('remove_user', {'id':app.request.get('id')}) }}">
                                    <button type="button" class="btn btn-sm btn-outline-success">Delete</button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}