{% form_theme form 'form/table_fields.html.twig' %}

<tr>
    <td class="m-0 p-1" colspan="6">
        <p class="m-0 p-0 d-flex ">
            {{ form_errors(form) }}
            {# todo check why errors don't want work in form_row#}
        </p>
    </td>
</tr>
<tr>
    <td class="form-group form_transaction m-0 p-0" colspan="6">
        {{ form_start(form,{'attr': {'novalidate': 'novalidate','class':'form-inline card-body my-1 my-sm-1'}}) }}
        {{ form_row(form.description,{'attr':{'placeholder':'description'}}) }}
        {{ form_row(form.amount,{'attr':{'placeholder':'amount'}}) }}
        {{ form_row(form.type) }}
        {{ form_row(form.notes,{'attr':{'placeholder':'notes', 'rows': '1'}}) }}
        {{ form_row(form.tags,{'attr':{'placeholder':'tags'}}) }}
        <button type="submit" class="btn btn-success btn-sm col-11 col-3 col-md-2 col-lg-2 mx-auto my-1 mx-sm-auto mt-sm-1">Submit</button>
        {{ form_end(form) }}
    </td>
</tr>