{% extends 'base.html.twig' %}
{% form_theme form 'form/edit_fields.html.twig' %}

{% block body %}

    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="card bg-light mb-3 card_home">
            <div class="card-header d-flex justify-content-between">
                <h5 class="m-0">Edit transaction</h5>
                <a href="{{ path('account_page',{'id': transaction.account.id}) }}" class="text-center  ">Back to
                    account</a>
            </div>
            <div class="card-body">
                {{ form_start(form,{'attr': {'novalidate': 'novalidate','class':'form-inline mt-2 mb-2'} }) }}

                {{ form_row(form.date,{'attr': {'readonly':'readonly'}}) }}
                {#todo there don't work internal error in form row #}
                {{ form_errors(form) }}
                {{ form_row(form.description) }}

                {% if account.planning != true %}
                    {{ form_row(form.amount,{'attr': {'readonly':'readonly'}}) }}
                {% else %}
                    {{ form_row(form.amount) }}
                {% endif %}
                {{ form_row(form.type) }}
                {{ form_row(form.notes) }}
                {{ form_row(form.tags) }}
                {{ form_row(form.balance,{'attr': {'readonly':'readonly'}}) }}

                <button type="submit"
                        class="btn btn-sm btn-block btn-success col-11 col-md-10 col-lg-10 mx-auto my-1 mx-sm-auto mt-sm-1">
                    Save
                </button>

                {{ form_end(form,{'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
