{% block transaction %}
    <tr>
        <td class="p-0 m-0">{{ transaction.date|date('m/d/y') }}</td>
        <td class="p-0 m-0">

            <p class="m-0 px-1">{{ transaction.description }}
                <button type="button" data-toggle="collapse" data-target="#collapse_notes_{{ transaction.id }}"
                        aria-expanded="false" aria-controls="collapse_notes_{{ transaction.id }}"
                        class="btn btn-sm btn-outline-light btn_show_notes text-gray-dark px-1 py-0 cursor_pointer">
                    {% if transaction.notes != null %}
                        <i class="fa fa-caret-square-o-down"></i>
                    {% endif %}
                </button>
            </p>

            <p class="m-0 px-1 collapse" id="collapse_notes_{{ transaction.id }}">
                {% if transaction.notes != null %}
                {{ transaction.notes }}</p>
            {% endif %}
        </td>
        <td class="p-0 m-0">
            {% for tag in transaction.tags %}
                <span style="background-color: {{ tag.color }}" class="badge badge-info font_100">{{ tag.name }}</span>
            {% endfor %}
        </td>
        <td class="p-0 m-0">
            <span class="m-0 font-weight-bold
            {% if transaction.type == 'DEPOSIT' %}
            text-success
            {% else %}
            text-danger
            {% endif %}
            ">
                {% if transaction.type == 'DEPOSIT' %}
                    +
                {% else %}
                    -
                {% endif %}
                {{ transaction.amount }}
            </span>
        </td>
        <td class="p-0 m-0">{{ balance }}</td>
        <td class="m-0 px-1 py-0">
            <a href="{{ path('edit_transaction',{'id':transaction.id}) }}"><i class="fa fa-pencil"></i></a>
        </td>
    </tr>
{% endblock %}